:root {
	  --mininav-spacing: 18px;
	  --mininav-height: 40px;
	  --mininav-width: 170px;
	
	/* Colors */
	--blot-black: #000000;
	--darker-gray: #0f0f0f;
	--blot-dark-gray: #121212;
	--blot-gray: #2a2a2a;
	--blot-little-light-gray: #4d4d4d;
	--blot-light-gray: #888;
	--blot-white: #ffffff;
	--accent: #ffffff;
	--primary-blue: #0D28F2;
	--accent-red: #E60F0F;
	
	/* Sizing */
	--headshot-size: 170px;
	--nav-height: 65px;
	--mininav-height: 50px;
	--mininav-spacing: 10px;
	
	/* Font Variation Settings */
	--font-slnt: 0;
	--font-wdth: 100;
	--font-grad: 0;
	--font-xopq: 96;
	--font-xtra: 468;
	--font-yopq: 79;
	--font-ytas: 750;
	--font-ytde: -203;
	--font-ytfi: 738;
	--font-ytlc: 514;
	--font-ytuc: 712;
	
	/* Transitions */
	--transition-base: 0.3s ease;
	--transition-slow: 0.5s ease;
}